[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
xlwt = "*"
xlrd = "*"
pytest = "*"
pytest-ordering = "*"

[requires]
python_version = "3.7"
